{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}


{% block page %}
<h2>Cargar planilla Excel</h2>
<form class="well" action="subir" method="post" enctype="multipart/form-data">    	 
   	 <input class="btn btn-file" name="userfile" type="file"> 
   	 <br>
         <br>
         <br>
   	 <input type="submit" class="btn btn-success" value="Enviar"> 
</form> 
{% endblock %}
