{% extends '::frontend.html.twig' %}

{% block content %}
<div class="slider_bg">
        <div class="slider">
                <ul class="items">
                        <li>
                                <img src="/images/Volvo.jpg" alt="">
                                <div class="banner">
                                        <strong>Volvo<span>Trucks</span></strong>                                       
                                </div>
                        </li>
                        <li>
                                <img src="/images/renault.jpg" alt="">
                                <div class="banner">
                                        <strong>Renault<span>Trucks</span></strong>							
                                      
                                </div>
                        </li>
                        <li>
                                <img src="/images/taller.jpg" alt="">
                                <div class="banner">
                                        <strong>Pescarolo<span> Diesel Center</span></strong>										
                                        
                                </div>
                        </li>
                </ul>
        </div>
</div>

{% endblock %}