<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="/css/estilos.less.css">
        <script type="text/javascript" src="/js/less-1.3.3.min.js"></script>
    </head>
    
    <body>
        <div id="wrap">
            <h1>Este es el curso de Symfony 2!</h1>
        </div>
        
        <div id="columna">
            <p>Aqui va el texto!</p>
        </div>
        
        <h2>Esto es una clase de Less CSS!</h2>
        <div class="columnas">
            <p>Aqui va el texto!</p>
        </div>
        
        <div class="columnas">
            <p>Aqui va el texto!</p>
        </div>
    </body>
</html>
